@model IDictionary<string, int>
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var pollId = (int)ViewBag.PollId;
}
<h3>Voting Results</h3>
<div id="chart" class="my-3"></div>
<table class="table table-bordered">
    <thead><tr><th>Candidates</th><th>Total Votes</th></tr></thead>
    <tbody>
    @foreach (var kv in Model) {
        <tr><td>@kv.Key</td><td>@kv.Value</td></tr>
    }
    </tbody>
</table>

<script>
    const pollId = @pollId;
    const connection = new signalR.HubConnectionBuilder().withUrl("/hubs/results").build();
    connection.on("resultsUpdated", (id) => {
        if (id === pollId) {
            location.reload();
        }
    });
    connection.start();
</script>
